body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 0px;
}

.header {
  color: #fff;
  height: 50px;
}

.contact-div {
  background-color: #22aedd;
  display: inline-block;
  width: 20%;
  height: 50px;
  padding-left: 30px;
  padding: 13px 0;
}

.contact-div p {
  float: right;
  padding-right: 20px;
}

.info-div {
  width: 80%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.692);
  float: right;
  padding: 13px 0;
}

.info-div p {
  float: right;
  padding-right: 60px;
}

.info-div i {
  padding: 0 5px 0 10px;
  cursor: pointer;
}

.navbar-div {
  font-size: 1.2em;
  color: black;
  height: 100px;
}

.navbar {
  height: 100px;
}

.navbar-brand img {
  width: 250px;
  height: 60px;
  margin-left: 40px;
  padding-left: 90px;
}

.navbar-nav {
  margin-right: 50px;
}

.navbar-nav li {
  padding: 0 10px 0 20px;
}

.contact-image-div {
  height: 400px;
  background-color: #22aeddd7;
  position: relative;
  margin-bottom: 50px;
}

.contact-image-div img {
  height: 400px;
  width: 100%;
  opacity: 0.2;
}

.text-over-image {
  position: absolute;
  bottom: 50px;
  left: 150px;
  color: white;
}

.text-over-image p {
  font-size: 1.3em;
}

hr.contact-bottom {
  border: 1px solid rgb(0, 0, 0);
}

.contact-section {
  height: auto;
  padding: 0 20px;
}

.contact-section h4 {
  color: #22aedd;
  font-weight: bold;
}

.contact-section h1 {
  font-weight: bold;
}

.contact-section p {
  margin-bottom: 30px;
}

hr.touch {
  width: 90px;
  color: #08bbf7;
  border: 3px solid;
  margin-top: 0px;
}

input {
  margin-bottom: 20px;
  outline: none;
  border: transparent;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
}

input:focus {
  outline: none;
  border: transparent;
  border-bottom: 1px solid black;
}

#footer {
  height: auto;
  width: 100%;
}

#footer .row {
  height: auto;
  padding-left: 310px;
}

#footer .col-sm-4 {
  width: 300px;
  height: auto;
  background-color: #00bfff10;
  text-align: center;
  margin-top: 50px;
  margin-right: 20px;
  padding-top: 30px;
}

#footer i {
  color: #08bbf7;
  font-size: 1.8em;
}
