body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0px;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.header {
  color: #fff;
  background-color: black;
  height: 50px;
}

.contact-div {
  display: inline-block;
  width: 36%;
  height: 50px;
  padding-left: 30px;
  padding: 13px 0;
}

.contact-div p {
  /* float: right; */
  padding-left: 35px;
}

.contact-div p i {
  padding: 0 5px;
  cursor: pointer;
}

.info-div {
  width: 60%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.692);
  float: right;
  padding: 13px 0;
  padding-right: 50px;
}

.info-div img {
  width: 40px;
  height: 20px;
}

.info-div span {
  padding-left: 10px;
}

.info-div p {
  float: right;
  padding-right: 60px;
}

.info-div i {
  padding: 0 5px 0 10px;
  cursor: pointer;
}

#search-section {
  height: auto;
  width: 100%;
  margin-top: 30px;
  padding-left: 20px;
  display: flex;
}

.logo {
  width: auto;
  display: inline-block;
}

.search-box {
  display: inline-block;
  margin-left: 150px;
  position: relative;
}

.search-box select {
  /* width: 153px; */
  width: 200px;
  height: 50px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #ced4da;
  padding-left: 20px;
}

.search-box input {
  /* width: 453px; */
  width: 480px;
  height: 50px;
  border-radius: 0 30px 30px 0;
  border: 1px solid #ced4da;
  padding-left: 20px;
}

.search-box button {
  position: absolute;
  right: 7px;
  top: 5px;
  background-color: #ff324d;
  border: 0;
  border-radius: 100%;
  color: #fff;
  width: 40px;
  height: 40px;
}

.search-box select:focus,
.search-box input:focus {
  outline: none;
  border: 1px solid #ced4da;
}

.right-section {
  font-size: 1.6em;
  margin-left: 120px !important;
}

.right-section p,
.right-section i,
.right-section span {
  margin-bottom: 0 !important;
  padding: 0 10px;
  border-color: #fff;
}

.main-right-sidebar {
  height: 600px;
}

#navbar-section {
  margin-top: 30px;
  height: 80px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

#navbar-section .left-sidebar {
  width: 300px;
  height: 600px;
  margin-left: 20px;
  /* display: inline-block; */
  /* background-color: red; */
}

#navbar-section .left-sidebar button {
  background-color: #ff324d;
  border: 1px solid #ff324d;
  color: #fff;
  width: 100%;
  height: 77.778px;
  font-size: 1.4em;
  padding-right: 100px;
}

.left-sidebar button i {
  color: white;
  padding-right: 8px;
}

.unordered-items {
  list-style-type: none;
}

.unordered-items li {
  padding-top: 5px;
  padding-bottom: 8px;
  font-size: 1.3em;
  margin-bottom: 15px;
  margin-top: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.664);
}

.unordered-items li i {
  padding-right: 8px;
}

.unordered-items .fa-greater-than {
  float: right;
  font-size: 0.7em;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.548);
}

.right-sidebar {
  width: 1100px;
  position: absolute;
  top: 0;
  left: 350px;
  height: 77.778px;
  color: black;
}

.right-sidebar ul {
  margin-top: 8px;
  font-size: 1.3em;
}

.right-sidebar ul li {
  padding: 0px 5px !important;
}

.active {
  color: #ff324d !important;
}

.right-sidebar .navbar-text {
  margin-left: 80px;
  padding: 0 !important;
}

.right-sidebar .navbar-text span {
  font-size: 1.3em;
  color: black;
}

.right-sidebar .navbar-text .phone {
  color: #ff324d;
  font-size: 2.5em;
  padding: 0 10px;
}

.right-sidebar .navbar-text .phone i {
  transform: rotate(-45deg);
}

.middle-section {
  position: absolute;
  top: 100px;
  left: 360px;
  width: auto;
  height: 480px;
}

.middle-section .smart-watch {
  position: relative;
  padding-left: 40px;
  background-color: rgba(128, 128, 128, 0.062);
  width: 850px;
  height: 480px;
}

.middle-section .smart-watch img {
  float: right;
  position: absolute;
  bottom: 35px;
  right: 0px;
}

.middle-section .smart-watch-text {
  position: absolute;
  top: 200px;
}

.middle-section .smart-watch-text span {
  font-size: 1.2em;
}

.middle-section .price {
  color: #ff324d;
}

.middle-section h3 {
  display: inline-block;
  padding: 0 10px;
}

.middle-section button {
  margin-top: 30px;
  border-radius: 40px;
  border: 1px solid #ff324d;
  background-color: #ff324d;
  color: #fff;
  height: 60px;
  width: 160px;
}

.right-cards-section {
  position: absolute;
  top: 100px;
  right: 40px;
  width: 220px;
  height: 480px;
}

.right-cards-section .card-1 {
  height: 400px;
  background-color: #fdbb99;
  border-radius: 20px;
}

.right-cards-section .card-1 img {
  margin-top: 50px;
  margin-left: 20px;
}

.right-cards-section .card-1 .card-1-text {
  padding-top: 30px;
  padding-left: 20px;
  color: white;
}

.right-cards-section .card-1 .card-1-text span {
  font-size: 1.1em;
}

.exclusive-product-section {
  margin-top: 30px;
  margin-left: 20px;
}

.exclusive-navbar {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 30px;
}

.exclusive-product-section .exclusive-navbar ul {
  padding-left: 200px !important;
  font-size: 1.2em;
}

.exclusive-product-section .exclusive-navbar ul li {
  padding: 0 10px;
}

.exclusive-product-section .card {
  height: 450px;
  background-color: #fff;
  box-shadow: 0 0 7px rgb(0 0 0 / 10%);
  cursor: pointer;
}

/* .exclusive-product-section .card:hover {
  box-shadow: 5px 10px 18px #888888;
} */

.card-text-heading {
  font-size: 1.2em;
  font-weight: bold;
}

.price-items {
  margin-top: 10px;
  font-weight: bold;
}

.price-items span {
  padding: 0 2px;
  font-size: 1em;
}

.actual-price {
  color: #ff324d;
  font-weight: bold;
}

.discount {
  color: green;
}

.rating {
  color: #f6bc3e;
}

.special-offer-section {
  margin-top: 30px;
  margin-left: 25px;
}

.special-offer-section img {
  width: 90%;
}

.deal-of-the-day {
  width: auto;
  margin-left: 20px;
}

.first-deal,
.second-deal {
  border: 3px solid #ff324d;
  width: 700px;
  margin: 15px;
  border-radius: 20px;
  align-items: center;
}

.deal-of-the-day .product-info {
  font-size: 1.2em;
  font-weight: bold;
}

.deal-of-the-day .product-info .actual-price {
  margin-right: 15px;
}

.deal-of-the-day .deal-content {
  margin-top: 80px;
}

.deal-of-the-day .deal-progress {
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

.deal-of-the-day .deal-progress .stock-available {
  padding-left: 25px;
}

.deal-progress .progress {
  height: 1.5rem;
  font-size: 0.75rem;
  background-color: #e9e9e9;
  border-radius: 20px;
}

.deal-progress .progress-bar {
  background-color: #ff324d;
}

.countdown {
  width: auto;
  margin-top: 30px;
}

.countdown .countdown-box {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #f0f2f5;
}

.countdown .countdown-wrap {
  text-align: center;
  padding: 23px;
  font-weight: bold;
}

.countdown .countdown-wrap .time {
  font-size: 1.4em;
}

.brands {
  position: relative;
  margin-top: 40px;
  margin-left: 30px;
}

.brands .brand-title {
  font-weight: bold;
  border-bottom: 1px solid #ced4da;
}

.brands .left-right-navigation {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 1.4em;
}

.brands .left-right-navigation span {
  padding: 0 10px;
  cursor: pointer;
}

.brands .brands-logo img {
  padding: 10px 35px;
}

.all-kinds-of-products {
  margin-top: 50px;
  height: 100px;
}

.all-kinds-of-products .product-title-wrapper {
  border-bottom: 1px solid #888888;
}

.all-kinds-of-products .product-title {
  padding: 0 !important;
}

.all-kinds-of-products .all-link a {
  color: #ff324d;
  font-size: 1.1em;
  text-decoration: none;
  float: right;
  margin-right: 40px;
  margin-top: 3px;
}

.all-kinds-of-products .card {
  margin-top: 20px;
  height: 184px;
  background-color: #fff;
  box-shadow: 0 0 7px rgb(0 0 0 / 10%);
  cursor: pointer;
  margin-bottom: 50px;
}

.newsletter {
  position: relative;
  top: 700px;
  background-color: #ff324d;
  height: 180px;
  color: #fff;
  padding-left: 20px;
}

.newsletter span {
  font-size: 7em;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.newsletter .newsletter-title {
  position: absolute;
  top: 53%;
  left: 11%;
  transform: translateY(-50%);
}

.newsletter .input-field {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
}

.newsletter .input-field input {
  position: relative;
  border-radius: 30px;
  padding: 10px 20px;
  width: 605px;
  height: 60px;
  margin-left: 50px;
}

.newsletter .input-field button {
  position: absolute;
  top: 7.5px;
  right: 10px;
  border-radius: 30px;
  width: 150px;
  height: 45px;
}

.bottom-content {
  position: relative;
  top: 700px;
  height: 180px;
  background-color: #f3f3f3;
  padding-top: 40px;
  border-bottom: 1px solid #ced4da;
}

.bottom-content .pic {
  background-color: #fff;
  max-width: 110px;
  text-align: center;
  height: 115px;
  margin: 0 20px 0 0;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 50%;
  padding-top: 10px;
}

.bottom-content .pic i {
  filter: invert(29%) sepia(78%) saturate(1961%) hue-rotate(331deg)
    brightness(99%) contrast(105%);
}

.footer {
  position: relative;
  top: 700px;
  margin-top: 30px;
  font-size: 1.2em;
}

.footer .social-media-icons::after {
  width: 35px;
  height: 35px;
  content: "";
  clear: both;
  display: table;
}

.footer .social-media-icons img {
  width: 35px;
  height: 35px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.footer .copyright-message {
  text-align: center;
  position: absolute;
  top: 5px;
  left: 40%;
}

.footer .atm-cards {
  position: absolute;
  right: 50px;
  top: 0px;
}

.footer .atm-cards::after {
  width: 35px;
  height: 35px;
  content: "";
  clear: both;
  display: table;
}

.footer .atm-cards img {
  width: 35px;
  height: 35px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}
